h1 {
  text-align: center;
  font-size: 30px;
}

p {
  text-align: center;
  font-size: 30px;
}

button {
  width: 120px;
  height: 50px;
  margin-right: 50px;
  border-radius: 8px;
}
button:hover {
  font-weight: bold;
  color: gray;
  background-color: whitesmoke;
}

.button_wrapper {
  text-align: center;
}
